<div class="centered-content" *ngIf="allVoted">
  <h2>You already vote all the musics!</h2>
</div>

<div class="centered-content" *ngIf="!allVoted">
  <div class="vote-select centered-content">
    <h2>Select a song</h2>
    <p>
      <select (change)="onSongSelectChange($event)">
        <option value="">Select a song</option>
        <option *ngFor="let song of selectSongs" [value]="song._id">
          {{ song.artist }} - {{ song.title }}
        </option>
      </select>
    </p>
  </div>

  <div class="vote-song centered-content">
    <h2>{{ song!.artist }} - {{ song!.title }}</h2>
    <p>
      <iframe
        width="560"
        height="315"
        [src]="sanitizer.bypassSecurityTrustResourceUrl(song!.url)"
        title="YouTube video player"
        frameborder="0"
        allow="clipboard-write; encrypted-media; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </p>
    <h3>Vote</h3>
    <p>
      <button
        *ngFor="let number of numbers"
        (click)="onCastVoteButtonClick(number)"
      >
        {{ number }}
      </button>
    </p>
  </div>
</div>
